@model Spring2026_Project3_sostamps.Models.DetailModels.Details

<h1>@Model.Movie.Title</h1>

<p><strong>Genre:</strong> @Model.Movie.Genre</p>
<p><strong>Year:</strong> @Model.Movie.Year</p>

<!--IMDB Link -->
<p>
    <a href="@Model.Movie.IMDBLink" target="_blank">View on IMDB</a>
</p>

<!--Poster Link-->
@if (Model.Movie.Poster != null)
{
    <img style ="width:200px;"
         src="data:image/png;base64,@Convert.ToBase64String(Model.Movie.Poster)"/>
}

<hr />

<!--Actors-->
<h3><strong>Actors</strong></h3>
<ul>
    @foreach (var actor in Model.Movie.Actors.Split(','))
    {
        <li>@actor.Trim()</li>
    }
</ul>

<hr />

<!--Reviews-->
<h3><strong>Average Rating: </strong>@Model.Rating</h3>
<table>
    <tr>
        <th>Review</th>
        <th>Ratings</th>
    </tr>
    
    @foreach (var r in Model.Reviews)
    {
        <tr>
            <td>@r.Text</td>
            <td>@r.Rating</td>
        </tr>
    }
</table>

<a href="/Home/Index">Return Home</a>